/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 7/11/2025, 9:06:22 p. m.
    Author     : JhonDev
*/

/* --- ESTILOS DEL HEADER --- */

.navbar {
  width: 100%;
  background-color: #1F2937;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.navbar-container {
  max-width: 1200px;
  margin: 0 auto;
  height: 70px;
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-text {
  font-size: 1.8rem;
  font-weight: bold;
  color: #fff;
  text-decoration: none;

}

.logo{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center
    
}
.logo-text:hover {
  color: #005ecc;
}

.nav-links {
  display: flex;
  gap: 25px;
}

.nav-item {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.nav-item:hover {
  color: #0077ff;
}


body {
  padding-top: 80px;
  font-family: Arial, sans-serif;
}



.footer {
  background-color: #6B7280;
  color: #333;
  padding: 50px 0 20px 0;
  font-family: Arial, sans-serif;
  border-top: 1px solid #ddd;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 30px;
}

.footer-col h3 {
  font-size: 1.1rem;
  margin-bottom: 15px;
  color: #fff;
}

.footer-col ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-link {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 8px;
  transition: color 0.3s ease;
}

.footer-link:hover {
  color: #ccc;
}

.footer-logo {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.footer-brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
}

.footer-desc {
  font-size: 0.95rem;
  line-height: 1.4rem;
  color: #fff;
}

.socials {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.social-link {
  text-decoration: none;
  font-size: 1.3rem;
  color: #fff;
  transition: transform 0.3s ease, color 0.3s ease;
}

.social-link:hover {
  color: #ccc;
  transform: scale(1.2);
}

.footer-bottom {
  text-align: center;
  border-top: 1px solid #ddd;
  margin-top: 40px;
  padding-top: 10px;
  font-size: 0.9rem;
  color: #1F2937;
}


.welcome-card {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 160px); /* espacio considerando header y footer */

}

.welcome-content {
  background-color: #fff;
  padding: 10px 20px;
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 400px;
  height: 500px;
  margin: 0;


}

dotlottie-wc{
    margin-left: 100px;
    margin-top: -50px;
}

.welcome-title {
  font-size: 2rem;
  color: #333;
  margin-bottom: 15px;
  
  
}

.welcome-title span {
  color: #0077ff;
}

.welcome-text {
  font-size: 1rem;
  color: #555;
  line-height: 1.6;
  margin-bottom: 30px;
  margin-top: -50px;
}

.welcome-button {
  display: inline-block;
  background-color: #1F2937;
  color: white;
  text-decoration: none;
  padding: 12px 28px;
  border-radius: 30px;
  font-weight: bold;
  font-size: 1rem;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.welcome-button:hover {
  background-color: #005ecc;
  transform: translateY(-2px);
}


