/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 29/06/2025, 1:46:20 p. m.
    Author     : Yiseth Lopez
*/

.login_conten_se{
    display: flex;
    margin-bottom:70px;
    margin-top: 40px;
    margin-left: 25%;
}

.container_img{
      background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
}


.container_login {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin-left: 25%;
}
.container_login h2 {
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
}
.form-group {
    margin-bottom: 15px;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
.form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.btn {
    background-color: #1F2937;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}
.btn:hover {
    background-color: #374151;
}
.register-link {
    text-align: center;
    margin-top: 15px;
}
.error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}